

devdocs
client_body_temp
fastcgi_temp
logs
mime.types
models.lua
nginx.conf.compiled
proxy_temp
scgi_temp
uwsgi_temp
config.lua
.*.swp
.*.swo

static/turtlestitch
static/beta
static/run
static/v*
static/siggraph19
static/download
static/data
static/old

projects
database

nginx.conf.prod

deploy.sh
retrieve.sh
backup.sh
run.sh

TODO
update.sql

services
